@using Dystopian
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
    @Styles.Render("~/Content/boilerplate")
    @Styles.Render("~/Content/site")

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body data-root="@Html.Raw(Href("~/"))" class="dystopianSiteContainer">
    <nav class="navbar navbar-inverse navbar-dystopian navbar-static-top example-8">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a></a><span class="dystopianLabel">FACTION</span>
                    <select id="faction" class="form-control select2" data-placeholder="Select faction"
                            data-bind="selectedOptions: SelectedFaction" style="width:10em;">
                        <option></option>
                        <option value="@Dystopian.Enums.Faction.COA">@Dystopian.Enums.Faction.COA.GetDescription()</option>
                        <option value="@Dystopian.Enums.Faction.FSA">@Dystopian.Enums.Faction.FSA.GetDescription()</option>
                        <option value="@Dystopian.Enums.Faction.KOB">@Dystopian.Enums.Faction.KOB.GetDescription()</option>
                    </select>
                </li>
                <li>
                    <a></a><span class="dystopianLabel">CORE</span>
                    <select id="core" class="form-control select2" data-placeholder="Select core"
                            data-bind="selectedOptions: SelectedCore" style="width:7em;">
                        <option></option>
                        <option value="@Dystopian.Enums.Core.NAVAL">@Dystopian.Enums.Core.NAVAL.GetDescription()</option>
                        <option value="@Dystopian.Enums.Core.AERIAL">@Dystopian.Enums.Core.AERIAL.GetDescription()</option>
                        <option value="@Dystopian.Enums.Core.ARMOURED">@Dystopian.Enums.Core.ARMOURED.GetDescription()</option>
                    </select>
                </li>        
                <li>
                    <a></a><span class="dystopianLabel">FLEET VALUE</span>
                    <input type="number" data-bind="value: CappedPoints" style="border-radius: 5px; height: 70%; padding-left: 5px; width: 3em" />
                </li>
            </ul>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar8">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="dystopian-logo" src="~/Content/220df6e3419502c8d8ed30381a633de1_original.png" />
            </div>
            
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
    <div class="body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/boilerplate")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/inspinia")


    @RenderSection("scripts", required: false)
</body>
</html>
